<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Oncase Campus</title>

  <!-- CSS -->
  <link rel="stylesheet" href="css/campusstyle.css">

</head>

<body ng-app="campusApp">
  <input id="tagfilter" ng-model="courseFilter.tags" placeholder="Ache seu curso">
  <!-- lista de cursos -->
  <div id="courses" ng-controller="courseList">
  	<div ng-repeat="course in courses | filter:courseFilter">
		<h1>{{course.name}}</h1>
		<img ng-src="{{course.image}}"
		<p>{{course.details}}</p>
		<div><b>Tags: </b>{{course.tags.join(', ')}}</div>
	</div>
  </div>
  <!-- fim da lista -->
</body>

<!-- JavaScript -->
<script 
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<script src="js/campus.js"></script>

</html>