<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><md-icon class="material-icons ">info</md-icon> {{classCtrl.course.name}} </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="classCtrl.close()">
          <md-icon aria-label="account_circle" class="material-icons">
            close
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-margin layout-padding>
      <div layout="column">
         <md-list-item class="md-2-line" style="background-color:#eee;">
                  <md-icon aria-label="account_circle" class="md-avatar-icon material-icons">
                    place
                  </md-icon>

                  <div class="md-list-item-text">
                    <h3 class="">{{classCtrl.cl.where}}</h3>
                    <p class="md-caption">{{ classCtrl.cl.dateFrom | date:"dd/MM/yyyy" }} a {{ classCtrl.cl.dateTo | date:"dd/MM/yyyy" }}</p>
                  </div>
          </md-list-item>
        <div btf-markdown="classCtrl.cl.info">
        </div>

      </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="classCtrl.close()" style="margin-right:20px;">
        Fechar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
