<md-dialog aria-label="List dialog" class="campus-course-details-wrapper">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        {{detailsCtrl.course.name}}
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" ui-sref="courses">
        <md-icon aria-label="account_circle" class="material-icons">
          close
        </md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>

  </md-dialog-content>
</md-dialog>
<div class="campus-lock-overlay"></div>
