<md-card flex="33">
  <md-card-header>
    <md-card-avatar>
      <md-icon class="material-icons ">{{course.icon}}</md-icon>
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">{{course.name}}</span>
      <span class="md-subhead">{{course.id}}</span>
    </md-card-header-text>
  </md-card-header>
  <img ng-src="{{course.image}}" class="md-card-image" alt="Washed Out">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">N&iacute;vel: <span class="campus-level-chip" style="background-color:{{courseCtrl.getColorForLevel(course.level)}}">{{course.level}}</span></span>
      <span class="md-subhead">{{course.headline}}</span>
      <!--    <md-divider></md-divider>
   <md-chips readonly="true" ng-model="course.tags">
        <md-chip-template>{{$chip}}</md-chip-template>
      </md-chips> -->
    </md-card-title-text>
  </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon class="material-icons ">share</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon class="material-icons ">print</md-icon>
            </md-button>
          </md-card-icon-actions>
          <md-button>Detalhes</md-button>
        </md-card-actions>

</md-card>
