<div flex="33" flex-xl="20" flex-lg="33" flex-md="50" flex-sm="100" flex-xs="100">
  <md-card >
  <md-card-header>
    <md-card-avatar>
      <md-icon class="material-icons ">{{course.icon}}</md-icon>
    </md-card-avatar>
    <md-card-header-text ui-sref="courses.details({courseId : course.id })" class="campus-pointer">
      <span class="md-title">{{course.name}}</span>
      <span class="md-subhead">{{course.id}}</span>
    </md-card-header-text>
  </md-card-header>
  <img ui-sref="courses.details({courseId : course.id })" ng-src="{{course.image}}" class="campus-pointer md-card-image" alt="Washed Out">
  <md-card-title>
    <md-card-title-text>
      <span class="md-body-2">
        N&iacute;vel:
        <span class="campus-level-chip" style="background-color:{{courseCtrl.getColorForLevel(course.level)}}">{{course.level}}</span>
      </span>
      <span class="md-subhead campus-elipsis-3l">{{course.headline}}</span>
      <!--    <md-divider></md-divider>
   <md-chips readonly="true" ng-model="course.tags">
        <md-chip-template>{{$chip}}</md-chip-template>
      </md-chips> -->
      <span class="md-caption">Pr&oacute;xima turma prevista: <strong>{{ courseCtrl.getNextClass(course) }}</strong></span>
    </md-card-title-text>
  </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon class="material-icons ">share</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon class="material-icons ">print</md-icon>
            </md-button>
          </md-card-icon-actions>
          <md-button ui-sref="courses.details({courseId : course.id })">Detalhes</md-button>
        </md-card-actions>

</md-card>
</div>
