<div layout="column" layout-align="begin center" layout-margin>
  <img src="assets/img/academy-hat.png" style="height:352px;width:477px;height:100px;width:auto;" />
  <h1 class="md-display-3 text-center campus-gray">Vire ninja em Analytics</h1>
</div>
<md-divider></md-divider>

<div layout="column" layout-align="begin center" layout-margin>
  <p>
      Nossos cursos têm material e <strong>certificados oficiais</strong> de participação, emitidos pela própria <strong>Pentaho</strong>.
  </p>
</div>
<div class="md-padding campus-general-bg" layout-wrap layout-padding layout="row" layout-align="start start" ng-cloak>

  <course ng-repeat="course in listCtrl.getCourses() | orderBy:listCtrl.getOrderBy()"></course>

</div>

<!-- Modal showing course details -->
<div ui-view ></div>
