<section>
<md-subheader class="campus-list-subheader md-whiteframe-2dp" ng-init="showFilters=false;">
  <div layout="row" >
    <div flex="none" class="campus-subheader-inner-div">Cursos dispon&iacute;veis</div>
    <div flex class="campus-subheader-inner-div text-right">


      <md-button ng-click="showFilters=!showFilters" class="campus-space-left-2 pull-right campus-subheader-button" ng-click="eClassCtrl.close()">
        <md-icon aria-label="account_circle" class="material-icons">
          tune
        </md-icon>
        Filtros
      </md-button>


      <div class="pull-right campus-space-right-2">
        <md-icon aria-label="account_circle" class="material-icons">
          swap_vert
        </md-icon>

        <md-select class="campus-noborder campus-upper campus-nomargin pull-right text-left" ng-change="crouteCtrl.fireOrderBy()" placeholder="Ordenar" ng-model="crouteCtrl.orderByExpression" >
          <md-option class="campus-noborder" ng-value="null">Ordem natural</md-option>
          <md-option class="campus-noborder" ng-value="'levelOrdinal'">N&iacute;vel crescente</md-option>
          <md-option class="campus-noborder" ng-value="'-levelOrdinal'">N&iacute;vel decrescente</md-option>
          <md-option class="campus-noborder" ng-value="'nextClass'">Turmas em breve</md-option>
        </md-select>
      </div>


    </div>
  </div>
  <div class="campus-filters-pane" ng-class="{'campus-hidden' : !showFilters}">
    <div class="campus-filters-pane-inner">Filtro<br>Filtro<br>Filtro<br>Filtro</div>
  </div>
</md-subheader>

<courses-list></<courses-list>
</section>

<section>
  
  <md-subheader class="campus-list-subheader md-whiteframe-2dp" >
    <div layout="row" >
      <div class="campus-subheader-inner-div">Instrutores</div>
    </div>
  </md-subheader>
  <crew-list></crew-list>

</section>
