
<md-divider></md-divider>
<div layout="column" layout-align="begin center" layout-margin>
  <img src="assets/img/mail-icon.png" style="height:352px;width:477px;height:100px;width:auto;" />
  <h1 class="md-display-3 text-center campus-gray">Contato</h1>
</div>



<md-content md-theme="{{ dark ? 'docs-dark' : 'default' }}" layout="row" layout-align="center center" layout-padding  layout-wrap >
  <div flex="100" layout-align="center center" layout-margin>
    <p class="text-center">
      Escreva pra gente{{contactCtrl.getAdditionalMsg()}}. Dentro do horário comercial respondemos em até 2h.
    </p>
  </div>
  <md-input-container flex="40" flex-xs="80" flex-sm="80">
    <label>Nome</label>
    <input ng-model="contactCtrl.contactInfo.name">
  </md-input-container>
  <md-input-container flex="40" flex-xs="80" flex-sm="80">
    <label>Email</label>
    <input ng-model="contactCtrl.contactInfo.email" type="email">
  </md-input-container>

  <md-input-container class="md-block" flex="80">
    <label>Mensagem</label>
    <textarea ng-model="contactCtrl.contactInfo.msg" columns="1" md-maxlength="500" rows="5"></textarea>
  </md-input-container>
  <div flex="80" layout-align="center center" class="text-center" layout="row">
      <md-button ng-disabled="contactCtrl.sendInProgress" class="md-raised md-warn" ng-click="contactCtrl.sendContact()">
        {{ contactCtrl.sendInProgress ? "Enviando... " : "Enviar " }}
        <md-icon md-class="material-icons" style="font-size:16px;">send</md-icon>
      </md-button>
      <div>
        <md-progress-circular ng-if="contactCtrl.sendInProgress" class="md-accent" md-mode="indeterminate" md-diameter="40">
        </md-progress-circular>
      </div>

  </div>
</md-content>
